apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: cilium
      version: '1.11.6'
      sourceRef:
        kind: HelmRepository
        name: cilium
        namespace: flux-system
  values:
    hubble:
      # See https://docs.cilium.io/en/stable/gettingstarted/hubble_setup/
      metrics:
        enabled: 
          - dns
          - drop
          - tcp
          - flow
          - icmp
      relay:
        enabled: true
      ui:
        enabled: true
        ingress:
          {{ $url := printf "https://%s" .Values.hosts.cilium -}}
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: acme
            nginx.ingress.kubernetes.io/auth-response-headers: Authorization
            nginx.ingress.kubernetes.io/auth-signin: {{ printf "%s?rd=%s" (include "sso.get_value" (dict "key" "authproxy_login_url" "context" $)) (urlquery $url) }}
            nginx.ingress.kubernetes.io/auth-url: {{ include "sso.get_value" (dict "key" "authproxy_check_url" "context" $) }}
          hosts: 
            - {{ .Values.hosts.cilium }}
          tls:
            - hosts:
                - {{ .Values.hosts.cilium }}
              secretName: cilium-cert
    encryption:
      # See https://docs.cilium.io/en/stable/gettingstarted/encryption-wireguard/
      enabled: true
      type: wireguard
      wireguard:
        userspaceFallback: true
    l7Proxy: false
